workflows/03-digest-agent.json
{
  "name": "Agent 3 \u2014 Approval and Email Delivery",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 2 * * *"
            }
          ]
        }
      },
      "id": "d077b770-2636-447c-ab30-080ab3e204f9",
      "name": "Schedule 8:00 AM IST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.github.com/repos/' + $env.GITHUB_REPO_OWNER + '/' + $env.GITHUB_REPO_NAME + '/contents/' + 'data/jobs.json?ref=state' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f0feca65-b63b-41cc-b18e-3ab804f0c22c",
      "name": "Load Jobs for Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst gh = $input.first().json;\nlet jobs = [];\ntry {\n  const db = JSON.parse(Buffer.from(gh.content, 'base64').toString('utf-8'));\n  jobs = db.jobs || [];\n} catch(e) { console.log('Jobs load error:', e.message); }\n\nconst today   = new Date().toISOString().slice(0, 10);\nconst sorted  = [...jobs].sort((a, b) => (b.relevance_score || 0) - (a.relevance_score || 0));\nconst top5    = sorted.slice(0, 5);\nconst interns = jobs\n  .filter(j => j.job_type === 'internship')\n  .sort((a, b) => (b.relevance_score || 0) - (a.relevance_score || 0))\n  .slice(0, 3);\nconst remote  = jobs\n  .filter(j => /remote/i.test(j.location || ''))\n  .sort((a, b) => (b.relevance_score || 0) - (a.relevance_score || 0))\n  .slice(0, 3);\nconst avg     = jobs.length\n  ? (jobs.reduce((s, j) => s + (j.relevance_score || 0), 0) / jobs.length).toFixed(1) : 0;\nconst newToday = jobs.filter(j => j.date_found && j.date_found.startsWith(today)).length;\n\nreturn [{ json: { total: jobs.length, new_today: newToday, top5, interns, remote, avg } }];\n"
      },
      "id": "82b58297-ab56-4164-87ae-2da4c250f473",
      "name": "Build Digest Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst d  = $input.first().json;\nconst dt = new Date().toLocaleDateString('en-US',\n  { weekday: 'long', month: 'short', day: 'numeric' });\n\n// FIX: show complete job_id (j_ + 16 hex chars = 18 chars) \u2014 user pastes it exactly\nconst card = (j, rank) =>\n  '<div style=\"margin:0 0 12px;padding:15px;background:#f8fafc;' +\n    'border-left:3px solid #0ea5e9;border-radius:5px;\">' +\n  (rank ? '<div style=\"font-size:10px;font-weight:700;color:#0ea5e9;' +\n    'text-transform:uppercase;margin-bottom:4px;\">#' + rank + ' TOP PICK</div>' : '') +\n  '<div style=\"font-weight:700;color:#0f172a;font-size:14px;\">' + j.title + '</div>' +\n  '<div style=\"color:#475569;font-size:13px;margin:3px 0;\">' +\n    j.company + ' &bull; ' + (j.location || 'India') + '</div>' +\n  '<div style=\"font-size:12px;color:#64748b;margin:6px 0;\">' +\n    'Score: <strong style=\"color:#059669;\">' + (j.relevance_score || 0) + '/100</strong>' +\n    ' &bull; ' + (j.job_type || 'full-time') + ' &bull; ' + (j.source || '') +\n    (j.job_url ? ' &bull; <a href=\"' + j.job_url + '\" style=\"color:#0ea5e9;\">Apply &rarr;</a>' : '') +\n  '</div>' +\n  '<div style=\"font-size:11px;margin-top:6px;\">' +\n    '<span style=\"background:#1e293b;color:#94a3b8;padding:3px 9px;' +\n      'border-radius:4px;font-family:monospace;\">' + j.job_id + '</span>' +\n  '</div></div>';\n\nconst example = d.top5 && d.top5[0] ? d.top5[0].job_id : 'j_xxxxxxxxxxxxxxxx';\n\nconst html =\n  '<!DOCTYPE html><html><head><meta charset=\"UTF-8\">' +\n  '<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head>' +\n  '<body style=\"font-family:-apple-system,BlinkMacSystemFont,Arial,sans-serif;' +\n    'background:#f1f5f9;margin:0;padding:12px;\">' +\n  '<div style=\"max-width:600px;margin:0 auto;background:#fff;border-radius:10px;' +\n    'overflow:hidden;box-shadow:0 2px 12px rgba(0,0,0,.1);\">' +\n  '<div style=\"background:linear-gradient(135deg,#0f172a,#1e3a5f);color:#fff;' +\n    'padding:28px;text-align:center;\">' +\n    '<div style=\"font-size:28px;\">&#128640;</div>' +\n    '<div style=\"font-size:20px;font-weight:700;margin-top:4px;\">AI/ML Opportunities</div>' +\n    '<div style=\"font-size:13px;opacity:.8;margin-top:4px;\">' + dt + '</div>' +\n  '</div>' +\n  '<div style=\"display:flex;border-bottom:1px solid #e2e8f0;\">' +\n    '<div style=\"flex:1;padding:16px;text-align:center;border-right:1px solid #e2e8f0;\">' +\n      '<div style=\"font-size:26px;font-weight:700;color:#0f172a;\">' + d.total + '</div>' +\n      '<div style=\"font-size:10px;color:#64748b;text-transform:uppercase;\">Total</div></div>' +\n    '<div style=\"flex:1;padding:16px;text-align:center;border-right:1px solid #e2e8f0;\">' +\n      '<div style=\"font-size:26px;font-weight:700;color:#059669;\">' + d.new_today + '</div>' +\n      '<div style=\"font-size:10px;color:#64748b;text-transform:uppercase;\">New Today</div></div>' +\n    '<div style=\"flex:1;padding:16px;text-align:center;\">' +\n      '<div style=\"font-size:26px;font-weight:700;color:#0ea5e9;\">' + d.avg + '</div>' +\n      '<div style=\"font-size:10px;color:#64748b;text-transform:uppercase;\">Avg Score</div></div>' +\n  '</div>' +\n  '<div style=\"padding:20px;\">' +\n    '<div style=\"font-size:16px;font-weight:700;margin-bottom:12px;\">&#11088; Top 5</div>' +\n    (d.top5 || []).map((j, i) => card(j, i + 1)).join('') +\n  '</div>' +\n  ((d.interns || []).length ?\n    '<div style=\"padding:0 20px 20px;\">' +\n    '<div style=\"font-size:15px;font-weight:700;margin-bottom:10px;\">&#127891; Internship Spotlight</div>' +\n    d.interns.map(j => card(j, 0)).join('') + '</div>' : '') +\n  ((d.remote || []).length ?\n    '<div style=\"padding:0 20px 20px;\">' +\n    '<div style=\"font-size:15px;font-weight:700;margin-bottom:10px;\">&#127757; Remote Roles</div>' +\n    d.remote.map(j => card(j, 0)).join('') + '</div>' : '') +\n  '<div style=\"background:#0f172a;color:#e2e8f0;padding:22px;\">' +\n    '<div style=\"font-size:14px;font-weight:700;margin-bottom:8px;\">&#128233; How to Approve</div>' +\n    '<div style=\"font-size:13px;opacity:.85;line-height:1.7;\">' +\n      'Reply with the full Job ID exactly as shown above:</div>' +\n    '<div style=\"font-family:monospace;background:#1e293b;padding:10px 14px;' +\n      'border-radius:5px;margin:10px 0;font-size:13px;\">APPROVE ' + example + '</div>' +\n    '<div style=\"font-size:12px;opacity:.65;\">' +\n      'Resume + ATS report delivered within 30 min.</div>' +\n  '</div>' +\n  '<div style=\"padding:14px;text-align:center;font-size:11px;color:#94a3b8;' +\n    'border-top:1px solid #e2e8f0;\">AI Job Intelligence &bull; Groq + GitHub Actions</div>' +\n  '</div></body></html>';\n\nreturn [{ json: {\n  html, to: '[CANDIDATE_EMAIL@EXAMPLE.COM]',\n  subject: '\\u{1F680} AI/ML Digest \\u2014 ' + dt +\n    ' (' + d.total + ' roles, ' + d.new_today + ' new)'\n} }];\n"
      },
      "id": "42fa6216-826d-411e-b249-4fc75b05903b",
      "name": "Generate HTML Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        0
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.GMAIL_EMAIL }}",
        "toEmail": "[CANDIDATE_EMAIL@EXAMPLE.COM]",
        "subject": "={{ $json.subject }}",
        "options": {}
      },
      "id": "3a6424d1-48c0-44df-b022-c13c3ec9d207",
      "name": "Send Digest Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1040,
        0
      ],
      "webhookId": "56450bd5-61f4-44c4-80e6-23697bf0f46e"
    },
    {
      "parameters": {
        "jsCode": "\nconsole.log('=== AGENT 3a: DIGEST SENT ===', new Date().toISOString());\nreturn [{ json: { status: 'digest_sent', ts: new Date().toISOString() } }];\n"
      },
      "id": "772f4f86-2b18-49eb-b71d-e9760e3d1d2b",
      "name": "Log Digest Sent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/30 * * * *"
            }
          ]
        }
      },
      "id": "1b0f761d-1604-4520-af10-23d9cddd6c64",
      "name": "Poll Every 30 Min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        368
      ]
    },
    {
      "parameters": {
        "options": {
          "customEmailConfig": "[\"UNSEEN\"]"
        }
      },
      "id": "087263a3-e98d-4e05-ae11-e34949a25aac",
      "name": "Check Gmail IMAP",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        272,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nif (!items.length) {\n  console.log('IMAP: no emails \u2014 nothing to process');\n  return [{ json: { action: 'NONE', message: 'Inbox empty' } }];\n}\nconst commands = [];\nitems.forEach(item => {\n  const rawBody = item.json.text || item.json.textHtml || item.json.html || '';\n  const body    = rawBody.replace(/<[^>]+>/g, '');\n  const subj    = item.json.subject || '';\n  const full    = subj + '\\n' + body;\n  // Match job_id format: j_ followed by exactly 16 hex characters\n  const apMatch  = full.match(/APPROVE\\s+(j_[0-9a-f]{16})/i);\n  const rejMatch = full.match(/REJECT\\s+(j_[0-9a-f]{16})/i);\n  if (apMatch)  commands.push({ action: 'APPROVE', job_id: apMatch[1].toLowerCase() });\n  if (rejMatch) commands.push({ action: 'REJECT',  job_id: rejMatch[1].toLowerCase() });\n});\nif (!commands.length) {\n  console.log('IMAP: ' + items.length + ' email(s) but no valid APPROVE/REJECT commands');\n  return [{ json: { action: 'NONE', message: 'No commands in ' + items.length + ' emails' } }];\n}\nconsole.log('Commands found: ' + commands.length);\nreturn commands.map(c => ({ json: c }));\n"
      },
      "id": "009964b4-1630-458d-a38e-cc81153bfe78",
      "name": "Parse APPROVE REJECT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        368
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "92514df5-866a-4cd5-8f9f-4cb4ef2f1701",
              "leftValue": "={{ $json.action }}",
              "rightValue": "APPROVE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "a339d901-c79b-4a31-a7c3-a610565fbafa",
      "name": "Has APPROVE Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        784,
        368
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.github.com/repos/' + $env.GITHUB_REPO_OWNER + '/' + $env.GITHUB_REPO_NAME + '/contents/' + 'data/resumes/' + $json.job_id + '_resume.txt?ref=state' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "8961331a-12db-4d31-99f8-38880eeaad21",
      "name": "Fetch Resume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        272
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ 'https://api.github.com/repos/' + $env.GITHUB_REPO_OWNER + '/' + $env.GITHUB_REPO_NAME + '/contents/' + 'data/ats_reports/' + $json.job_id + '_ats_report.json?ref=state' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "de850fb4-74ee-4c66-a075-f05487853c32",
      "name": "Fetch ATS Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        464
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst all      = $input.all();\n// Identify inputs by filename in GitHub API response 'name' field\nconst resumeGH = all.find(i => i.json.name && i.json.name.endsWith('_resume.txt'));\nconst atsGH    = all.find(i => i.json.name && i.json.name.endsWith('_ats_report.json'));\n\nlet resumeText = '(Resume not found \u2014 verify Agent 2 ran today and job was in top 5)';\nlet ats = { ats_score: 65, job_title: 'the role', company: 'the company',\n  job_url: '', hiring_potential: 60, recommendation: 'good_fit',\n  strengths: [], improvements: [] };\n// FIX: extract job_id from GitHub response filename \u2014 matches exactly what Agent 2 stored\nlet jobId = 'unknown';\n\nif (resumeGH) {\n  try { resumeText = Buffer.from(resumeGH.json.content, 'base64').toString('utf-8'); }\n  catch(e) { console.log('Resume decode error:', e.message); }\n  jobId = (resumeGH.json.name || '').replace('_resume.txt', '');\n}\nif (atsGH) {\n  try { ats = JSON.parse(Buffer.from(atsGH.json.content, 'base64').toString('utf-8')); }\n  catch(e) { console.log('ATS decode error:', e.message); }\n}\n\nconst { job_title, company, job_url, ats_score, hiring_potential,\n        recommendation, strengths, improvements } = ats;\nconst scoreColor = ats_score >= 75 ? '#059669' : ats_score >= 60 ? '#d97706' : '#dc2626';\n\nconst html =\n  '<!DOCTYPE html><html><body style=\"font-family:-apple-system,BlinkMacSystemFont,' +\n    'Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px;\">' +\n  '<div style=\"background:' + scoreColor + ';color:#fff;padding:24px;border-radius:8px;' +\n    'text-align:center;margin-bottom:20px;\">' +\n    '<div style=\"font-size:36px;\">&#9989;</div>' +\n    '<div style=\"font-size:20px;font-weight:700;margin-top:8px;\">Resume Ready!</div>' +\n    '<div style=\"font-size:14px;opacity:.9;margin-top:4px;\">' + job_title + ' at ' + company + '</div>' +\n  '</div>' +\n  '<div style=\"background:#f8fafc;border-radius:8px;padding:16px;margin-bottom:16px;' +\n    'display:flex;justify-content:space-around;text-align:center;\">' +\n    '<div><div style=\"font-size:30px;font-weight:700;color:#0f172a;\">' + (ats_score || 65) + '</div>' +\n      '<div style=\"font-size:10px;color:#64748b;text-transform:uppercase;\">ATS Score</div></div>' +\n    '<div><div style=\"font-size:30px;font-weight:700;color:#0ea5e9;\">' + (hiring_potential || 60) + '</div>' +\n      '<div style=\"font-size:10px;color:#64748b;text-transform:uppercase;\">Match %</div></div>' +\n    '<div style=\"padding-top:6px;\">' +\n      '<div style=\"font-size:12px;font-weight:700;color:' + scoreColor + ';\">' +\n        (recommendation || 'good_fit').replace(/_/g, ' ').toUpperCase() + '</div>' +\n      '<div style=\"font-size:10px;color:#64748b;text-transform:uppercase;\">Verdict</div></div>' +\n  '</div>' +\n  (strengths && strengths.length ?\n    '<div style=\"margin-bottom:14px;\"><strong>&#10003; Strengths</strong>' +\n    '<ul style=\"margin:6px 0;padding-left:18px;color:#374151;\">' +\n    strengths.map(s => '<li style=\"margin:3px 0;font-size:13px;\">' + s + '</li>').join('') +\n    '</ul></div>' : '') +\n  (improvements && improvements.length ?\n    '<div style=\"margin-bottom:18px;\"><strong>&#128161; Application Tips</strong>' +\n    '<ul style=\"margin:6px 0;padding-left:18px;color:#374151;\">' +\n    improvements.map(s => '<li style=\"margin:3px 0;font-size:13px;\">' + s + '</li>').join('') +\n    '</ul></div>' : '') +\n  (job_url ? '<div style=\"text-align:center;margin:20px 0;\">' +\n    '<a href=\"' + job_url + '\" style=\"background:#0ea5e9;color:#fff;padding:13px 28px;' +\n      'border-radius:6px;text-decoration:none;font-weight:600;font-size:14px;\">Apply Now &rarr;</a>' +\n    '</div>' : '') +\n  '<div style=\"background:#f1f5f9;padding:14px;border-radius:6px;font-size:13px;color:#475569;\">' +\n    '&#128204; Resume attached as <strong>' + jobId + '_resume.txt</strong>. ' +\n    'Copy-paste into application forms for best ATS results.' +\n  '</div>' +\n  '<div style=\"text-align:center;margin-top:20px;font-size:11px;color:#94a3b8;\">' +\n    'AI Job Intelligence &bull; &#128640;' +\n  '</div></body></html>';\n\nreturn [{ json: {\n  html, resumeText, job_id: jobId, job_title, company,\n  ats_score: ats_score || 65,\n  subject: '\\u2705 Resume Ready \\u2014 ' + job_title +\n    ' @ ' + company + ' (ATS: ' + (ats_score || 65) + '/100)',\n  filename: jobId + '_approval.json'\n} }];\n"
      },
      "id": "92a20151-5258-41e0-885d-e1e14108c186",
      "name": "Build Approval Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        368
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.GMAIL_EMAIL }}",
        "toEmail": "[CANDIDATE_EMAIL@EXAMPLE.COM]",
        "subject": "={{ $json.subject }}",
        "options": {}
      },
      "id": "f9c714f0-5144-4a93-8f33-28cbd5c2b7bd",
      "name": "Send Approval Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1568,
        368
      ],
      "webhookId": "f6b3e2ff-db0b-403f-ab7b-97ead582b551"
    },
    {
      "parameters": {
        "jsCode": "\nconst d = $input.first().json;\nconst record = { job_id: d.job_id, status: 'approved',\n  ats_score: d.ats_score, job_title: d.job_title,\n  company: d.company, ts: new Date().toISOString() };\nreturn [{ json: {\n  github_payload: {\n    message: 'auto: approved ' + d.job_id,\n    content: Buffer.from(JSON.stringify(record, null, 2)).toString('base64'),\n    branch: 'state'\n    // No sha \u2014 new file per approval, no SHA conflict possible\n  },\n  filename: d.filename,\n  job_id:   d.job_id\n} }];\n"
      },
      "id": "46e3b4e4-2fa2-4168-aee8-3e8de1f75ee1",
      "name": "Build Approval Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        368
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://api.github.com/repos/' + $env.GITHUB_REPO_OWNER + '/' + $env.GITHUB_REPO_NAME + '/contents/' + 'data/approvals/' + $json.filename }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "b24ca115-56db-49d4-8de8-6d012e70c192",
      "name": "Write Approval File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst d = $input.first().json;\nconsole.log('=== AGENT 3b: APPROVAL COMPLETE ===');\nconsole.log('Job ID: ' + d.job_id);\nconsole.log('Status file: data/approvals/' + d.job_id + '_approval.json');\nreturn [{ json: { status: 'approved', job_id: d.job_id, ts: new Date().toISOString() } }];\n"
      },
      "id": "b3cabdff-49aa-4a29-9af5-6c7aeac0b987",
      "name": "Log Approval",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        368
      ]
    }
  ],
  "connections": {
    "Schedule 8:00 AM IST": {
      "main": [
        [
          {
            "node": "Load Jobs for Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Jobs for Digest": {
      "main": [
        [
          {
            "node": "Build Digest Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Digest Data": {
      "main": [
        [
          {
            "node": "Generate HTML Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Email": {
      "main": [
        [
          {
            "node": "Send Digest Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Digest Email": {
      "main": [
        [
          {
            "node": "Log Digest Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Gmail IMAP": {
      "main": [
        [
          {
            "node": "Parse APPROVE REJECT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse APPROVE REJECT": {
      "main": [
        [
          {
            "node": "Has APPROVE Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has APPROVE Command?": {
      "main": [
        [
          {
            "node": "Fetch Resume",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch ATS Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Resume": {
      "main": [
        [
          {
            "node": "Build Approval Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Approval Email": {
      "main": [
        [
          {
            "node": "Send Approval Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Approval Email": {
      "main": [
        [
          {
            "node": "Build Approval Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Approval Status": {
      "main": [
        [
          {
            "node": "Write Approval File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Approval File": {
      "main": [
        [
          {
            "node": "Log Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}