workflows/03-digest-agent.json
{
  "id": "agent3emaildigest",
  "name": "Agent 3 - Email Digest and Approval Handler",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata"
  },
  "nodes": [
    {
      "id": "a3000000-0000-4000-8000-000000000001",
      "name": "Digest Trigger 8 AM IST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        200
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 2 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "a3000000-0000-4000-8000-000000000002",
      "name": "Webhook Approve",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        700
      ],
      "parameters": {
        "path": "approve-job",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "approve-job"
    },
    {
      "id": "a3000000-0000-4000-8000-000000000003",
      "name": "Fetch Jobs for Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        200
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $env.GITHUB_REPO_OWNER }}/{{ $env.GITHUB_REPO_NAME }}/contents/data/jobs.json?ref=state",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "a3000000-0000-4000-8000-000000000004",
      "name": "Build Digest Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        200
      ],
      "parameters": {
        "jsCode": "const raw = items[0].json;\nlet jobs = [];\ntry {\n  const decoded = Buffer.from(raw.content, 'base64').toString('utf8');\n  jobs = JSON.parse(decoded);\n  if (!Array.isArray(jobs)) jobs = [];\n} catch (e) {\n  jobs = [];\n}\n\njobs.sort((a, b) => (b.relevance_score || 0) - (a.relevance_score || 0));\nconst top5 = jobs.slice(0, 5);\n\nconst today = new Date().toLocaleDateString('en-IN', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', timeZone: 'Asia/Kolkata' });\n\nconst scoreBar = (score) => {\n  const filled = Math.round(score / 10);\n  return '\\u2588'.repeat(filled) + '\\u2591'.repeat(10 - filled) + ` ${score}/100`;\n};\n\nconst n8nBaseUrl = $env.N8N_WEBHOOK_URL || 'http://localhost:5678';\n\nconst jobCards = top5.map((j, i) => `\n      <div style=\"background:#1e293b;border-radius:12px;padding:24px;margin-bottom:20px;border-left:4px solid ${i === 0 ? '#6366f1' : i === 1 ? '#8b5cf6' : i === 2 ? '#a78bfa' : '#cbd5e1'};\">\n        <div style=\"display:flex;justify-content:space-between;align-items:flex-start;margin-bottom:12px;\">\n          <div>\n            <span style=\"background:#6366f1;color:#fff;font-size:11px;font-weight:700;padding:3px 10px;border-radius:20px;letter-spacing:1px;\">#${i + 1} PICK</span>\n            <h2 style=\"color:#f1f5f9;font-size:20px;font-weight:700;margin:8px 0 4px;\">${j.title}</h2>\n            <p style=\"color:#94a3b8;font-size:14px;margin:0;\">&#127970; ${j.company} &nbsp;|&nbsp; &#128205; ${j.location} &nbsp;|&nbsp; &#128279; ${j.source}</p>\n          </div>\n          <div style=\"text-align:right;flex-shrink:0;margin-left:16px;\">\n            <div style=\"background:linear-gradient(135deg,#6366f1,#8b5cf6);border-radius:8px;padding:10px 16px;\">\n              <div style=\"color:#fff;font-size:28px;font-weight:800;\">${j.relevance_score || 0}</div>\n              <div style=\"color:#c7d2fe;font-size:10px;letter-spacing:1px;\">SCORE</div>\n            </div>\n          </div>\n        </div>\n        <div style=\"background:#0f172a;border-radius:8px;padding:12px;margin:12px 0;font-family:monospace;color:#a5f3fc;font-size:12px;\">\n          ${scoreBar(j.relevance_score || 0)}\n        </div>\n        ${j.score_reason ? `<p style=\"color:#94a3b8;font-size:13px;font-style:italic;margin:8px 0;\">${j.score_reason}</p>` : ''}\n        <div style=\"display:flex;align-items:center;justify-content:space-between;margin-top:16px;\">\n          <a href=\"${j.url}\" style=\"background:linear-gradient(135deg,#6366f1,#8b5cf6);color:#fff;text-decoration:none;padding:10px 20px;border-radius:8px;font-size:13px;font-weight:600;\">Apply Now &#8594;</a>\n          <a href=\"${n8nBaseUrl}/webhook/approve-job?jobId=${j.job_id}\" style=\"background:linear-gradient(135deg,#22c55e,#16a34a);color:#fff;text-decoration:none;padding:10px 20px;border-radius:8px;font-size:13px;font-weight:600;\">&#9989; APPROVE - Get Resume</a>\n        </div>\n      </div>`).join('');\n\nconst html = `<!DOCTYPE html>\n<html>\n<head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head>\n<body style=\"margin:0;padding:0;background:#0f172a;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#0f172a;min-height:100vh;\">\n    <tr><td align=\"center\" style=\"padding:40px 20px;\">\n      <table width=\"640\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:640px;width:100%;\">\n        <tr><td style=\"background:linear-gradient(135deg,#1e1b4b 0%,#312e81 50%,#1e1b4b 100%);border-radius:16px 16px 0 0;padding:40px 32px;text-align:center;\">\n          <h1 style=\"color:#e0e7ff;font-size:32px;font-weight:800;margin:0 0 8px;\">&#129302; AI Job Intelligence</h1>\n          <p style=\"color:#a5b4fc;font-size:16px;margin:0;\">Your Daily Digest - ${today}</p>\n          <div style=\"background:rgba(255,255,255,0.1);border-radius:8px;padding:12px 24px;margin-top:20px;display:inline-block;\">\n            <span style=\"color:#c7d2fe;font-size:14px;\">&#9889; ${top5.length} top opportunities scored for you</span>\n          </div>\n        </td></tr>\n        <tr><td style=\"background:#0f172a;padding:32px;border-radius:0 0 16px 16px;\">\n          ${jobCards}\n          <div style=\"text-align:center;margin-top:32px;padding-top:24px;border-top:1px solid #1e293b;\">\n            <p style=\"color:#475569;font-size:12px;\">Generated by your n8n AI Job Intelligence System</p>\n            <p style=\"color:#22c55e;font-size:13px;font-weight:600;\">Click the green APPROVE button on any job to instantly get a tailored resume!</p>\n          </div>\n        </td></tr>\n      </table>\n    </td></tr>\n  </table>\n</body></html>`;\n\nreturn [{ json: { html_body: html, subject: `AI Job Digest - ${today} - ${top5.length} jobs scored` } }];"
      }
    },
    {
      "id": "a3000000-0000-4000-8000-000000000005",
      "name": "Send Digest Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        660,
        200
      ],
      "parameters": {
        "fromEmail": "={{ $env.GMAIL_EMAIL }}",
        "toEmail": "={{ $env.GMAIL_EMAIL }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "html",
        "html": "={{ $json.html_body }}",
        "options": {}
      }
    },
    {
      "id": "a3000000-0000-4000-8000-000000000007",
      "name": "Extract Job ID from Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        700
      ],
      "parameters": {
        "jsCode": "const jobId = items[0].json.query.jobId || items[0].json.body.jobId || '';\nif (!jobId || !jobId.startsWith('j_')) {\n  return [{ json: { _no_approve: true, error: 'Invalid or missing jobId' } }];\n}\nreturn [{ json: { job_id: jobId } }];"
      }
    },
    {
      "id": "a3000000-0000-4000-8000-000000000008",
      "name": "Check APPROVE Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        700
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-approve",
              "leftValue": "={{ $json._no_approve }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a3000000-0000-4000-8000-000000000009",
      "name": "Fetch Resume from GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        600
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $env.GITHUB_REPO_OWNER }}/{{ $env.GITHUB_REPO_NAME }}/contents/data/resumes/{{ $json.job_id }}_resume.md?ref=state",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "a3000000-0000-4000-8000-000000000010",
      "name": "Fetch ATS Report from GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        820
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $env.GITHUB_REPO_OWNER }}/{{ $env.GITHUB_REPO_NAME }}/contents/data/ats_reports/{{ $json.job_id }}_ats_report.json?ref=state",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "a3000000-0000-4000-8000-000000000011",
      "name": "Merge Resume and ATS",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        700
      ],
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      }
    },
    {
      "id": "a3000000-0000-4000-8000-000000000012",
      "name": "Build Approval Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        700
      ],
      "parameters": {
        "jsCode": "const allItems = items;\n\nlet resumeItem = null;\nlet atsItem = null;\n\nfor (const i of allItems) {\n  if (i.json.name && String(i.json.name).endsWith('_resume.md')) {\n    resumeItem = i.json;\n  } else if (i.json.name && String(i.json.name).endsWith('_ats_report.json')) {\n    atsItem = i.json;\n  }\n}\n\nif (!resumeItem && !atsItem) {\n  resumeItem = allItems[0] ? allItems[0].json : null;\n  atsItem = allItems[1] ? allItems[1].json : null;\n}\n\nlet resumeText = '';\nlet atsData = {};\nlet jobId = 'unknown';\n\nif (resumeItem && resumeItem.content) {\n  resumeText = Buffer.from(resumeItem.content, 'base64').toString('utf8');\n  jobId = (resumeItem.name || '').replace('_resume.md', '');\n}\n\nif (atsItem && atsItem.content) {\n  try {\n    atsData = JSON.parse(Buffer.from(atsItem.content, 'base64').toString('utf8'));\n  } catch (e) {\n    atsData = {};\n  }\n}\n\nconst resume_b64 = Buffer.from(resumeText).toString('base64');\nconst atsJson = JSON.stringify(atsData, null, 2);\n\nconst scoreColor = (s) => s >= 80 ? '#22c55e' : s >= 60 ? '#eab308' : '#ef4444';\nconst score = atsData.overall_score || 0;\n\nconst html = `<!DOCTYPE html>\n<html>\n<head><meta charset=\"UTF-8\"></head>\n<body style=\"margin:0;padding:0;background:#0f172a;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#0f172a;\">\n    <tr><td align=\"center\" style=\"padding:40px 20px;\">\n      <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;\">\n        <tr><td style=\"background:linear-gradient(135deg,#064e3b,#065f46);border-radius:16px 16px 0 0;padding:32px;text-align:center;\">\n          <h1 style=\"color:#ecfdf5;font-size:28px;font-weight:800;margin:0 0 8px;\">Resume Ready!</h1>\n          <p style=\"color:#a7f3d0;font-size:14px;margin:0;\">Your tailored resume for <strong>${jobId}</strong></p>\n        </td></tr>\n        <tr><td style=\"background:#1e293b;padding:32px;border-radius:0 0 16px 16px;\">\n          <div style=\"background:#0f172a;border-radius:12px;padding:24px;margin-bottom:20px;text-align:center;\">\n            <div style=\"font-size:48px;font-weight:800;color:${scoreColor(score)};\">${score}</div>\n            <div style=\"color:#94a3b8;font-size:14px;\">ATS Score / 100</div>\n          </div>\n          ${atsData.matched_keywords ? `<div style=\"background:#0f172a;border-radius:8px;padding:16px;margin-bottom:16px;\"><p style=\"color:#a5f3fc;font-size:12px;font-weight:700;margin:0 0 8px;\">MATCHED KEYWORDS</p><p style=\"color:#cbd5e1;font-size:12px;margin:0;\">${atsData.matched_keywords.join(', ')}</p></div>` : ''}\n          ${atsData.missing_keywords ? `<div style=\"background:#0f172a;border-radius:8px;padding:16px;margin-bottom:16px;\"><p style=\"color:#fca5a5;font-size:12px;font-weight:700;margin:0 0 8px;\">MISSING KEYWORDS</p><p style=\"color:#cbd5e1;font-size:12px;margin:0;\">${atsData.missing_keywords.join(', ')}</p></div>` : ''}\n          <p style=\"color:#94a3b8;font-size:13px;margin:16px 0 0;\">Your tailored resume is attached to this email.</p>\n        </td></tr>\n      </table>\n    </td></tr>\n  </table>\n</body></html>`;\n\nreturn [{\n  json: {\n    job_id: jobId,\n    html_body: html,\n    subject: `Your Resume for ${jobId} - ATS Score: ${score}/100`,\n    ats_score: score\n  },\n  binary: {\n    resume: {\n      data: resume_b64,\n      mimeType: 'text/markdown',\n      fileName: `${jobId}_resume.md`\n    }\n  }\n}];"
      }
    },
    {
      "id": "a3000000-0000-4000-8000-000000000013",
      "name": "Send Approval Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1320,
        700
      ],
      "parameters": {
        "fromEmail": "={{ $env.GMAIL_EMAIL }}",
        "toEmail": "={{ $env.GMAIL_EMAIL }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "html",
        "html": "={{ $json.html_body }}",
        "options": {
          "attachments": "resume"
        }
      }
    },
    {
      "id": "a3000000-0000-4000-8000-000000000015",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1540,
        700
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Resume request received for {{ $json.job_id }}! Check your email shortly for the tailored resume with ATS score.",
        "options": {}
      }
    },
    {
      "id": "a3000000-0000-4000-8000-000000000014",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        900
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "Error: Invalid or missing job ID. Use format: ?jobId=j_xxxxxxxxxxxxxxxx",
        "options": {
          "responseCode": 400
        }
      }
    }
  ],
  "connections": {
    "Digest Trigger 8 AM IST": {
      "main": [
        [
          {
            "node": "Fetch Jobs for Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Jobs for Digest": {
      "main": [
        [
          {
            "node": "Build Digest Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Digest Email": {
      "main": [
        [
          {
            "node": "Send Digest Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Approve": {
      "main": [
        [
          {
            "node": "Extract Job ID from Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job ID from Webhook": {
      "main": [
        [
          {
            "node": "Check APPROVE Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check APPROVE Found": {
      "main": [
        [
          {
            "node": "Fetch Resume from GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch ATS Report from GitHub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Resume from GitHub": {
      "main": [
        [
          {
            "node": "Merge Resume and ATS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch ATS Report from GitHub": {
      "main": [
        [
          {
            "node": "Merge Resume and ATS",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Resume and ATS": {
      "main": [
        [
          {
            "node": "Build Approval Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Approval Email": {
      "main": [
        [
          {
            "node": "Send Approval Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Approval Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}